<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionName="1.0"
          android:versionCode="1">
    <application android:label="MyCppApp"
                 android:extractNativeLibs="true">
        <activity android:name="org.qtproject.qt.android.bindings.QtActivity"
                  android:configChanges="orientation|uiMode|screenSize|screenLayout"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.lib_name" android:value="MyCppApp_arm64-v8a" />
        </activity>
    </application>
</manifest>
